{# {% extends 'base-layout.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %} #}

{% block body %}
<div class="card shadow-sm">
    <div class="card-header card-header-sm">
        <h3 class="card-title"> Liste des comptes utilisateur</h3>
        <div class="card-toolbar">
            <a href="{{ path('app_utilisateur_utilisateur_new') }}" class="btn btn-main btn-sm"  
                data-bs-toggle="modal" data-bs-target="#exampleModalSizeLg2">
                <i class="bi bi-plus-square text-light"></i>
                Nouveau
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="grid_app_utilisateur_utilisateur" class="grid-dt-wrapper">Chargement....</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block java %}
    <script src="{{ asset('assets/js/datatables.js') }}"></script>
    <script> 
        $(function() { 
              $('#grid_app_utilisateur_utilisateur').initDataTables({{ datatable_settings(datatable) }}, {
                  searching: true,
                  ajaxUrl: "{{ path('app_utilisateur_utilisateur_index',{'role':role}) }}",
                  language: {
                      url: asset_base_path + "/js/i18n/French.json"
                  },
                  'columnDefs': [{
                    'targets': 0, // assuming your checkbox column is the third column
                    'orderable': false,
                    'searchable': false,
                    'className': 'dt-body-center',
                    'render': function(data, type, full, meta){
                        return '<input type="checkbox" class="row-check" value="' + $('<div/>').text(data).html() + '">';
                    }
                }],
                  
              });
                // Check/Uncheck all checkboxes
            $('#checkAll').click(function() {
                alert('')
                var isChecked = $(this).is(':checked');
                $('.row-check').prop('checked', isChecked);
            });

            // Optionally, update the "check all" checkbox status when individual checkboxes are clicked
            $(document).on('click', '.row-check', function() {
                alert('')
                var totalCheckboxes = $('.row-check').length;
                var checkedCheckboxes = $('.row-check:checked').length;
                $('#checkAll').prop('checked', totalCheckboxes === checkedCheckboxes);
            });
        });
    </script>
{% endblock %}
