{# {% extends 'base-layout.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %} #}

{% block body %}
<div class="card shadow-sm">
    <div class="card-header card-header-sm">
        <h3 class="card-title"> Liste des comptes utilisateur</h3>
        <div class="card-toolbar">
            <a href="{{ path('app_utilisateur_utilisateur_new') }}" class="btn btn-main btn-sm"  
                data-bs-toggle="modal" data-bs-target="#exampleModalSizeLg2">
                <i class="bi bi-plus-square text-light"></i>
                Nouveau
            </a>
        </div>
    </div>
    <div class="card-body">

    <div class="row" style="margin-top: 55px;position:relative">
     <div>
        <input type="checkbox" id="check-all">
        <label for="check-all">Tout cocher</label>
     </div>
     <div></div>
     <div></div>
    </div>
        <div class="row">
     
            <div class="col-sm-12">
                <div id="grid_app_utilisateur_utilisateur" class="grid-dt-wrapper">Chargement....</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block java %}
    <script src="{{ asset('assets/js/datatables.js') }}"></script>
    <script> 
        $(function() { 
              $('#grid_app_utilisateur_utilisateur').initDataTables({{ datatable_settings(datatable) }}, {
                  searching: true,
                  ajaxUrl: "{{ path('app_utilisateur_utilisateur_index',{'role':role}) }}",
                  language: {
                      url: asset_base_path + "/js/i18n/French.json"
                  },
                  'columnDefs': [{
                    'targets': 0, // assuming your checkbox column is the third column
                    'orderable': false,
                    'searchable': false,
                    'className': 'dt-body-center',
                    'render': function(data, type, full, meta){
                        return '<input type="checkbox" class="row-check" value="' + $('<div/>').text(data).html() + '">';
                    }
                }],
                  
              });
                // Check/Uncheck all checkboxes
            $('#check-all').click(function() {
                $('.row-check').prop('checked', $(this).prop('checked'));
             });

    // Lorsqu'une des cases à cocher est cochée/décochée
    $(document).on('change', '.row-check', function() {
        // Vérifiez si toutes les cases à cocher sont cochées pour cocher "Check All"
        var allChecked = $('.row-check:checked').length === $('.row-check').length;
        $('#check-all').prop('checked', allChecked);
    });
        });
    </script>
{% endblock %}
