{# {% set code =facture.typeFacture.code(true) %} #}
<!DOCTYPE html>
<html>

<head>
    <title>{# {{ code =='a' ? 'AVOIR': 'FACTURE' }} {{ facture.numero }} #}dd</title>
    <style>
        /* {
            % block page_css %
        } */

        @page {

            margin-footer: 0.5cm;

            /*header: html_headerContent;*/
            /* footer: html_pageFooter; */
            margin-top: 0.5cm;
            margin-header: 0cm;

            /*background: ...
  background-image: ...
  background-position ...
  background-repeat ...
  background-color ...
  background-gradient: ...*/
        }

        .clearfix:after,
        {
        % endblock %
        }

        .clearfix:before {
            content: " ";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

        .mention {
            position: absolute;
            bottom: 100px;
        }

        /*@page :first {
   header: html_headerContent;
}*/
        caption {
            margin-bottom: 15px;
        }

        fieldset {
            border: 1px solid #000 !important;
            margin: 0;
            xmin-width: 0;
            padding: 10px;
            position: relative;
            border-radius: 4px;
            background-color: #fff;
            padding-left: 10px !important;
        }

        legend {
            padding: 0 10px;
            margin-left: 100px;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0px;
            width: 35%;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #ffffff;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {}

        @media all {
            /*.content { display: block; page-break-inside: avoid; }*/
        }

        .content {
            /*margin-top: 18cm;*/
        }

            {
            # .table-responsive.table-bordered {
                border: 0;
            }

            #
        }

        .double_underline {
            text-decoration: underline;
            border-bottom: 1px solid #000;
            text-align: center;
        }

        /* .contenu {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
        .contenu {
            text-align: center;
            vertical-align: middle;
        }

        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            /* Pour que body et html occupent toute la hauteur */
        }

        .clearfix {
            width: 100%;
            height: 100%;
            /* Prend toute la hauteur du body */
            border: 5px solid black;
            /* Bordure noire autour de la page */
            box-sizing: border-box;
            /* Inclut la bordure et le padding dans la taille */
        }
    </style>
</head>

<body style="font-size:12px;">
    <div class="clearfix">

        <div class="content">
            <table class="details">
                <tr>
                    <td class=" table-container contenu " style="width: 50%;height: 20px; border:0px !important; ">
                        <strong>MINISTERE DE L’ENSEIGNEMENT SUPERIEUR</strong>
                    </td>
                    <td class=" table-container contenu " style="width: 50%;height: 20px; border:0px !important;  ">
                        <strong>REPUBLIQUE DE COTE D’IVOIRE</strong><br>


                    </td>

                </tr>

                <tr>
                    <td class=" table-container contenu display: flex !important;align-items: left !important;justify-content: left !important;"
                        style="width: 50%; border:0px !important;  ">
                        <img src="https://tse3.mm.bing.net/th?id=OIP.UqXnC0ih7H54cZhWfjrr-QHaHa&pid=Api&P=0&h=180"
                            width="100px" />

                        <img src="https://tse3.mm.bing.net/th?id=OIP.UqXnC0ih7H54cZhWfjrr-QHaHa&pid=Api&P=0&h=180"
                            width="100px" />
                    </td>
                    <td class=" table-container contenu " style="width: 50%; border:0px !important;  ">
                        <hr style="height: 2px; background-color: black; border: 0px;width: 30%;">
                        <strong>UNION-DISCIPLINE-TRAVAIL</strong><br>
                       

                    </td>
                </tr>
                


            </table>
            <table class="details">
                
                <tr>
                    <td class=" table-container contenu " style="width: 50%;height: 20px; border:0px !important;  ">
                        <strong>UNIVERSITE FELIX HOUPHOUÊT-BOIGNY EN PARTENARIAT<br>
                            AVEC L’UNIVERSITE DE PARIS XII VAL DE MARNE</strong>
                        <hr style="height: 2px; background-color: black; border: 0px;width: 30%;">
                    </td><br>
                
                    <td rowspan="2" class=" table-container contenu " style="width: 50%;height: 20px; border:0px !important;  ">
                        <img src="https://tse3.mm.bing.net/th?id=OIP.UqXnC0ih7H54cZhWfjrr-QHaHa&pid=Api&P=0&h=180" width="100px" />
                
                    </td>
                
                  
                </tr>

                <tr>
                   
                
                    <td class=" table-container contenu " style="width: 50%;height: 20px; border:0px !important;  ">
                        <strong>BP V 43 ABIDJAN<br>
                            TEL : (225) 01 01 15 47 47 / 07 77 02 66 42</strong>
                    </td>
                </tr>
               


            </table>
            <br><br>
            <table class="details">

                <tr style=" border: 0px !important;">
                    <td class="contenu" style="width:10%; border: 0px !important;"></td>
                    <td class="contenu" style="width:80%; border: 0px !important; background-color: #c2d69b;">
                        {# box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.5); border: 3px solid rgb(255, 255, 255); #}
                        <div align="center" style="align: center; " class="text-center">
                            <b style=" font-size: 30px;color: red;">ATTESTATION DE PRISE EN CHARGE DES FRAIS DE SCOLARITE</b> <br>

                            <b style=" font-size: 12px;">Année Académique 2023-2024
                            SALARIE
</b>
                        </div>
                    </td>
                    <td class="contenu" style="width:10%; border: 0px !important;"></td>
                </tr>




            </table>
            <br><br>
            
        </div>
        <table class="details">
        
            <tr style=" border: 0px !important;">
        
                <td class="contenu" style=" border: 10px !important; text-align: left;font-size: 13px;">
                    <div style="display: flex;justify-content: left;align-items: left; width: 80%;" class="">
                      Je soussigné(e), M………………………………………………………………………………………………………………
        
                    </div>
                    <div style="display: flex;justify-content: left;align-items: left; width: 80%;" class="">
                    Profession: ………………………………………………………………………………………………………………………
                    
                    </div>
                    <div style="display: flex;justify-content: left;align-items: left; width: 80%;" class="">
                    
                    Service: ………………………………………………………………………………………………………………………………
                    
                    </div>
                    <div style="display: flex;justify-content: left;align-items: left; width: 80%;" class="">
                    Adresse postale: ……………………………………………………………………………………………….....

                    
                    </div>

                    <div style="display: flex;justify-content: left;align-items: left; width: 80%;" class="">
                    
                    Téléphone fixe: ………………………………………………Téléphone mobile…………………………………………………

                    
                    </div>
                    <div style="display: flex;justify-content: left;align-items: left; width: 80%;" class="">
                    Demeurant à:………………………………………… Appartement numéro : ………….……………………………
                    
                    
                    </div>
        
                </td>
        
            </tr>
        
        
        </table>
        <br>
        <table class="details">

            <tr style=" border: 0px !important;">

                <td class="contenu" style=" border: 10px !important; text-align: left;font-size: 13px;">
                    <div style="display: flex;justify-content: left;align-items: left; width: 80%;" class="">

                    Etudiant(e) inscrit(e) au programme du <b>MASTER 2 en Ingénierie Financière (M.I.F.)</b>, m’engage à payer la<br>
                    somme de <b> UN MILLION TROIS CENT MILLE (1 300 000) FRANCS CFA</b>, relative aux frais d’inscription,<br>
                    pédagogique dans le strict respect des modalités ci-dessous définies. Faute de quoi, l’administration des<br>
                    filières professionnalisées suspendra la participation aux cours et aux examens.<br><br>

                    </div>

                </td>
                 
                

            </tr>
        <tr style=" border: 0px !important;">
        
            
        
            <td class="contenu" style=" border: 10px !important; text-align: left;font-size: 13px;">
                <div style="display: flex;justify-content: left;align-items: left; width: 80%;" class="">
        
                    <b><i>En cas d’abandon, de démission, de défaillance, ou d’incapacité de la part de l’étudiant(e)<br>
                            susnommé(e), je n’exigerai aucun remboursement des frais de scolarité payés à l’UFR SEG.</i></b>
        
                </div>
        
            </td>
        
        </tr>

        </table>
        <br>
        <div class="container">
            <table class="">

                <tr style=" border: 0px !important;">
                    
                    <td colspan="4" class="contenu" style=" width:20%; border: 10px !important; text-align: left;font-size: 13px;">
                        <b>Modalités de paiement</b>
                    </td>
                   
                </tr>
                <tr style="" >
                    <td style=" width:25%; border-left: 1px solid #000; border-top: 1px solid #000;  border-right: 1px solid #000;border-bottom: 1px solid #000; ">
                    <b>Versements</b>
                    </td>
                    <td class="contenu"
                        style=" width:15%;border-left: 1px solid #000; border-top: 1px solid #000;  border-right: 1px solid #000;border-bottom: 1px solid #000;  text-align: left;font-size: 13px; border: 0px !important;">

                    <b>Taux</b>
                    </td>
                    <td class="contenu"
                        style=" width:25%; border: 10px !important; text-align: left;font-size: 13px; border: 0px !important;">
                      <b>Montant</b>
                    </td>
                    <td style="width: 35%; border: 0px !important;">
<b>Période de règlement</b>
                    </td>
                </tr>
                <tr style="">
                    <td style=" width:25%; border-left: 1px solid #000; border-top: 1px solid #000;  border-right: 1px solid #000; ">
                        <b>1er Versement</b>
                    </td>
                    <td class="contenu"
                        style=" width:15%;border-left: 1px solid #000; border-top: 1px solid #000;  border-right: 1px solid #000;border-bottom: 1px solid #000;  text-align: left;font-size: 13px; border: 0px !important;">
                
                        <b>50%</b>
                    </td>
                    <td class="contenu"
                        style=" width:25%; border: 10px !important; text-align: left;font-size: 13px; border: 0px !important;">
                        <b> 650000 F </b>
                    </td>
                    <td style="width: 35%; border: 0px !important;">
                        <b>A l’inscription
                        (Service Financier de l’UFR SEG)</b>
                    </td>
                </tr>
                <tr style="">
                    <td style=" width:25%; border-left: 1px solid #000; border-top: 1px solid #000;  border-right: 1px solid #000; ">
                        <b>2 ème Versement</b>
                    </td>
                    <td class="contenu"
                        style=" width:15%;border-left: 1px solid #000; border-top: 1px solid #000;  border-right: 1px solid #000;border-bottom: 1px solid #000;  text-align: left;font-size: 13px; border: 0px !important;">
                
                        <b>50%</b>
                    </td>
                    <td class="contenu"
                        style=" width:25%; border: 10px !important; text-align: left;font-size: 13px; border: 0px !important;">
                        <b> 650000 F </b>
                    </td>
                    <td style="width: 35%; border: 0px !important;">
                        <b>Du 1er au 5 Mars 2024</b>
                    </td>
                </tr>
                <tr style="">
                    <td style=" width:25%; border-left: 1px solid #000; border-top: 1px solid #000;  border-right: 1px solid #000; ">
                        <b>3 ème Versement</b>
                    </td>
                    <td class="contenu"
                        style=" width:15%;border-left: 1px solid #000; border-top: 1px solid #000;  border-right: 1px solid #000;border-bottom: 1px solid #000;  text-align: left;font-size: 13px; border: 0px !important;">
                
                        <b>50%</b>
                    </td>
                    <td class="contenu"
                        style=" width:25%; border: 10px !important; text-align: left;font-size: 13px; border: 0px !important;">
                        <b> 650000 F </b>
                    </td>
                    <td style="width: 35%; border: 0px !important;">
                        <b>Du 1er au 5 Mars 2024</b>
                    </td>
                </tr>
                </tr>


            </table>
            <br><br>
            <table class="details">

                <tr style=" border: 0px !important;">
                    <td style="width: 10%; border: 0px !important;"></td>
                    <td class="contenu" style=" border: 10px !important; text-align: left;font-size: 13px;">

                        <div style="display: flex;justify-content: left;align-items: left; width: 80%;" class="">

                        <b>Fait à Abidjan, le ………………../…………………../…………………./</b>


                        </div>

                    </td>
                    <td style="width: 10%; border: 0px !important;"></td>
                </tr>


            </table>
            <table class="">

                <tr style=" border: 0px !important;">
                    <td style="width: 30%; border: 0px !important;"></td>
                    <td class="contenu"
                        style=" width:40%; border: 40px !important; text-align: left;float: left !important; font-size: 13px;">
                        <u>Signature légalisée</u>
                    </td>
                    <td class="contenu" style=" width:30%; border: 10px !important; text-align: right;font-size: 13px;">
                      
                    </td>
                   
                </tr>



            </table>
           





        </div>
    </div>






</body>

</html>