<p>Bonjour à vous, voici vos informations de connxion :</p>
<p>Login {{ info_user.login }} </p>
<p>Password {{ info_user.password }}</p>
<p>Votre demande de d'inscription à été effectué avec success, veuillez cliquer sur le lien suivant pour vous connectez : <a href="{{ path('app_login') }}">http://ufrseg.enig-sarl.com/login</a></p>
<p>Merci</p>