<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

         <script>
		{#   $(".all_annee").on('clic',function(){

			$this = $(this)
			alert($this.val())
		  }) #}


          document.getElementsByClassName('all_annee').addEventListener('change', function() {
    var anneeScolaire = this.value;

    fetch('/update-annee-scolaire', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRF-Token': '{{ csrf_token("update_annee_scolaire") }}'
        },
        body: JSON.stringify({ anneeScolaire: anneeScolaire })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            console.log('Session updated successfully');
        }
    })
    .catch(error => console.error('Error:', error));
});
		  
		  </script>
    </body>
</html>
